.style {
    color: #333;
    font-family: Muli;

}



.tamaño {
    height: 65%;
}

.tipography {
    color: #333;
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
